.container {
  margin: 0 auto;
  background-color: rgb(109 168 189 / 22%);
  box-shadow: 0px 14px 19px 4px rgba(34, 60, 80, 0.36);
  max-width: 1300px;
}
.wrapper {
  margin: 0 auto;
  padding: 10px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  max-width: 1300px;
  margin: 0 auto;
  
}

.svg, .hamburger__icon{
  height: 35px;
  width: 35px;
  padding: 0;
  margin: auto 0;
  cursor: pointer;
}
.icon {
  color: #fff;
  opacity: 1;
}
.menu-btn {
  background-color: rgb(87, 84, 84);
  background-color: #575454;
  height: 50px;
  cursor: pointer;
  margin: auto 0;
}
