<div class="wrap">
  <div *ngIf="FB">User is logged in</div>
  <div *ngIf="!FB">User is not logged in</div>
  
  <!-- <h2>Main page</h2>
  <h3>For node create</h3>

  <form>
    <label for="name">Name</label>
    <input type="text" placeholder="name">
    <label for="surname">Surname</label>
    <input type="text" placeholder="Surname">
  
    <input type="submit" value="Submit">
  </form> -->

</div>
<div class="router__outlet">
  <h1>Other pages</h1>
  <div class="router__outlet-wrap">
    <router-outlet></router-outlet>
  </div>
</div>


