.wrap {
  width: 1300px;
  color: #fff;
  border: #fff solid 1px;
  padding: 10px;
  .wrap-field{
    display: flex;
    flex-direction: row;
    ol {
      border: solid 1px #a09b6dd7;
      li {
        padding: 10px;
      }
    }
  }
}

.router__outlet H1 {
  display: flex;
  justify-content: center;
  color: pink;
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: #f57c7c 1px dashed;
  padding-bottom: 20px;
}

.form {
  margin-right: 50px;
  border: solid 1px #a09b6dd7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}