<div class="wrap">
  <h2>Main page</h2>

  <div class="wrap-field">
    <form class="form" [formGroup]="userData" (ngSubmit)="createUsers()">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input formControlName="name" matInput placeholder="Roman Maruk">
      </mat-form-field>
      <mat-form-field>
        <mat-label>User Email</mat-label>
        <input formControlName="emailUser" matInput placeholder="wer@gmai.com">
      </mat-form-field>

      <input type="submit" value="Submit">
    </form>
    <ol *ngIf="(users$ | async).length > 0; else show">
      <li *ngFor="let item of users$ | async"><span>{{item.name}}</span> - {{item.emailUser}}</li>
    </ol>
    <ng-template #show>
      <h4>No users</h4>
    </ng-template>
  </div>


</div>
<div class="router__outlet">
  <h1>{{title$ | async}}</h1>
  <div class="router__outlet-wrap">
    <router-outlet></router-outlet>
  </div>
</div>


