.container {
  background-image: url(../assets/granit-black.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
}
.content {
  width: 1300px;
  margin: 50px auto;
}