<div class="container">
	<div class="card" matRipple (click)="takeCategories(item)" *ngFor="let item of mealCategories$ | async">
		<img class="img-meal"	 src={{item.strCategoryThumb}} alt="">
		<h3>{{item.strCategory}}</h3>
		<div class="description">
			<p>{{item.strCategoryDescription}}</p>
		</div>
	</div>
</div>

<!-- <ol>
	<li *ngFor="let item of mealCategories$ | async">
		{{item.strCategory}}
		<img src={{item.strCategoryThumb}} alt="">
		<p>{{item.strCategoryDescription}}</p>
	</li>
</ol> -->

