.wrap-books {
  border: 2px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 150px;
}
.list-books {
  border-right: 2px solid #ccc;
  padding-right: 150px;
}